@page
@model Skrot_och_korn_Razor_Pages.Pages.ContactModel
@{
}



<article >
    <img src="Images/gregory.jpg" alt="gregory" width="200" height="300">
    <div>
        <h2>Gregory </h2>
        <p>Position: VD</p>
    </div>
    <div>
        <p>Gregory är VD för Skrot och Korn AB och ansvarar för alla operationer och strategisk riktning.</p>
    </div>
    <div>
        <p>Kontaktinformation:</p>
        <a href="mailto:gregory@skrotkorn.se">Email</a>
    </div>
</article>
<article>
    <img src="Images/christina.jpg" alt="christina" width="200" height="300">
    <div>
        <h2>Christina </h2>
        <p>Position: Marknadschef</p>
    </div>
    <div>
        <p>Christina är ansvarig för marknadsföringsstrategier och varumärkeshantering.</p>
    </div>
    <div>
        <p>Kontaktinformation:</p>
        <a href="mailto:christina@skrotkorn.se">Email</a>
    </div>
</article>
<article>
    <img src="Images/emil.jpg" alt="emil" width="200" height="300">
    <div>
        <h2>Emil </h2>
        <p>Position: Försäljningschef</p>
    </div>
    <div>
        <p>Emil hanterar försäljningsoperationer och kundrelationer.</p>
    </div>
    <div>
        <p>Kontaktinformation:</p>
        <a href="mailto:Email@skrotkorn.se">Email</a>
    </div>
</article>