@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<img src="Images/Banner_uncropped.png" alt="maskin fordon" width="500" height="300">
<h1>Skrot och Korn AB</h1>
<h2>Uthyrning och försäljning av maskin fordon</h2>

<h1>Välkommen till Skrot och Korn AB</h1>
<h2>Vi erbjuder</h2>
<p>Uthyrning och försäljning av maskin fordon</p>
<h3>Om oss</h3>
<p>Vi har varit innom denna branch sedan 1980</p>
