@page
@model Skrot_och_korn_Razor_Pages.Pages.MediaModel
@{
}


<div>
    <h1>Lyftkran</h1>
    <video width="560" height="315" controls>
        <source src="videos/lyftkran.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h1>Bulldozer</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hJIBp98DztA?si=tXfiLTnKp1dqcBpx"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
