@page
@model Skrot_och_korn_Razor_Pages.Pages.ProductModel
@{
}


<h1>Producter</h1>


<div class="productpage__container">

    <img src="Images/Grävskopa.jpg" alt="Grävskopa" width="200">
    <img src="Images/Lyftkran.jpg" alt="Lyftkran" width="200">
    <img src="Images/Lastbil.jpg" alt="Lastbil" width="200">

    <p>Grävskopa</p>
    <p>Lyftkran</p>
    <p>Lastbil</p>

    <p>200 000 kr</p>
    <p>500 000 kr</p>
    <p>700 000 kr</p>

    <p>utan moms</p>
    <p>utan moms</p>
    <p>utan moms</p>

    <p>175 000 kr</p>
    <p>460 000 kr</p>
    <p>650 000 kr</p>

    <h3>Hästkrafter</h3>
    <h3>Hästkrafter</h3>
    <h3>Hästkrafter</h3>

    <p>100</p>
    <p>300</p>
    <p>400</p>

    <h3>Lastvikt</h3>
    <h3>Lastvikt</h3>
    <h3>Lastvikt</h3>

    <p>3 ton</p>
    <p>50 ton</p>
    <p>15 ton</p>

    <h3>
        köp 
        <input class="main__productpage__container__checkbox checkbox1" type="checkbox" name="Grävskopa" value="200000"
               id="checkbox1">
    </h3>
    <h3>
        köp 
        <input class="main__productpage__container__checkbox" type="checkbox" name="Lyftkran" value="500000"
               id="checkbox2">
    </h3>
    <h3>
        köp 
        <input class="main__productpage__container__checkbox" type="checkbox" name="Lastbil" value="700000"
               id="checkbox3">
    </h3>

    <h2 class="price" id="price">Priset av valda fordon 0kr</h2>

</div>